/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
	/* Base */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
legend{
    border-bottom: 1px solid #C2C2C2;
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
    text-align: center;
    min-width: 100%;
    font-size: 2em;
}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
	/* MODULE */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* LIEN SELECT FORM */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
.lien-select-form{
    margin: 10px;
    color: #ffffffcf;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    background: url('../img/gif/link_form_gif.gif') 0px 0px;
}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
.lien-select-form_click{
    font-size: 1.2em;
    padding: 10px;
    font-weight: 700;
    background: url('../img/gif/link_form_gif.gif') 0px 0px;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: helvetica, arial;
}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
.form-style label{display: block;margin: 0px 0px 15px 0px;color: white;}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
.form-style span.required{color:red;}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
.form-style input.input-field,  
.form-style .textarea-field, 
 .form-style .select-field{
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 3px 0px rgb(46, 13, 13);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
.form-style .input-field:focus, 
.form-style .textarea-field:focus,  
.form-style .select-field:focus,
.form-style input[type="date"]:focus{border: 2px solid navy;}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
.form-style input[type=submit],
.form-style input[type=button],
.form-style input[type=file]{
	border: none;
	padding: 8px 15px 8px 15px;
	background: navy;
	color: #fff;
	box-shadow: 1px 1px 4px rgb(46, 13, 13);;
	-moz-box-shadow: 1px 1px 4px rgb(46, 13, 13);;
	-webkit-box-shadow: 1px 1px 4px rgb(46, 13, 13);;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
.form-style input[type=submit]{transition: all 0.3s cubic-bezier(.25,.8,.25,1);}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* DATE */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #000;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border: 1px solid #ecf0f1;
    box-shadow: 1px 3px 0px rgb(46, 13, 13);
    -webkit-box-shadow: 1px 3px 0px rgb(46, 13, 13);
    border-radius: 3px;
    background: #fff;
    padding: 5px;
    display: inline-block !important;
    visibility: visible !important;
}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
/* CODE */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
.input-sub{
    transition: all .15s cubic-bezier(.95,.05,.8,.04);
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    background-color: beige;
    box-shadow: 0px 2px 0px 2px black;
}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
.input-code{
    transition: all .15s cubic-bezier(.95,.05,.8,.04);
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 3px solid beige;
    font-size: 2em;
    letter-spacing: .2em;
    max-width: 100%;
    text-align: center;
}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
	/* State */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
.form-style input[type=submit]:hover,
.form-style input[type=button]:hover{box-shadow: 6px 6px 12px rgba(0,0,0,0.2);}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
.input-code-error{
    transition: all .15s cubic-bezier(.95,.05,.8,.04);
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 3px solid red;
    font-size: 2em;
    letter-spacing: .2em;
    max-width: 100%;
    text-align: center;
    color: yellow;
}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
.input-sub-error{
    transition: all .15s cubic-bezier(.95,.05,.8,.04);
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    background-color: red;
    box-shadow: 0px 2px 0px 2px black;
}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
.input-sub:active, .input-sub:focus{
    box-shadow: 0px 1px 0px 1px black; 
}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* FIN */

