/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */

/* base */

/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */

body {
    font-family: helvetica, arial;
    background: url('https://media.giphy.com/media/5kFoXYlmfx8lM9m7Cb/source.gif');
    background-size: cover;
}

fieldset {
    margin-top: 10px;
}

/* MODULE */

.header-nav {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: transparent;
    min-width: 100%;
}

.navigation_entete {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.navigation_entete li {
    list-style: none;
}
.logo{
    max-width: 150px;
}
.today-logo {
    max-width: 100%;
    font-family: helvetica, arial;
    line-height: 0.88em;
    font-weight: 800;
    font-size: 2em;
    background: url('../img/gif/h1_logo_gif.gif') 0px 0px no-repeat;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0.04em -0.06em #dbdbdb;;
    overflow: hidden;
}

.filtre_sencondaire {
    display: flex;
    justify-content: center;
    padding-left: 0px;
}

.filtre_sencondaire li {
    list-style: none;
}
.lien-navigation-entente{
    transition: all .5s ease-in-out;
    position: absolute;
    color: white;
    /* mise en place ici pour amelierer la transition */
    background: url('../img/gif/link_hover_gif.gif') 0px 0px;
    background-size: cover;
    background-clip: text;
}

.navigation_entete li a, .filtre_sencondaire li a:not(.lien-navigation-entente), .lien-select-form {
    transition: all .25s cubic-bezier(.47, 0, .74, .71);
    color: white;
    font-family: helvetica, arial;
    font-weight: 600;
    /* mise en place ici pour amelierer la transition */
    background: url('../img/gif/link_hover_gif.gif') 0px 0px;
    background-size: cover;
    background-clip: text;
}

.navigation_entete li a:hover, .filtre_sencondaire li a:not(.lien-navigation-entente):hover, .navigation_entete li a:focus, .filtre_sencondaire li a:not(.lien-navigation-entente):focus, .navigation_entete li a:active, .filtre_sencondaire li a:not(.lien-navigation-entente):active {
    font-size: 1.2em;
    padding: 10px;
    font-weight: 700;
    background: url('../img/gif/link_hover_gif.gif') 0px 0px;
    background-size: cover;
    /* border-bottom: 3px solid #1771c04a; */
    background-clip: text;
    border-bottom: 3px solid #07539585;
    color: transparent;

}
.no_tache{
    max-width: 100%;
    height: auto;
    box-shadow: .09em .09em .9em #000000de;
    border-radius: 2%;
}
.box {
    border-radius: 3px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 4, 0.1);
    background-color: #ffffff47;
    color: rgb(228, 219, 233);
}

.box-lien a {
    color: rgb(228, 219, 233);
}

.nom-contenant {
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding-top: 6px;
    color: rgb(228, 219, 233);
}

.icone-box {
    text-align: start;
    padding-top: 10px;
}

/* .icone {
    max-width: 50%;
    min-width: 50%;
} */
.icone{
    max-width: 40px;
    height: auto;
    padding-right: 10px;
}
.icone-edit{
    max-width: 30px;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}
.lien_jquery-nom, .lien_del, .lien-edit {
    font-size: 1.8em;

}
.lien_jquery-nom, .lien_del
{
    transition: all .5s ease-in-out;
    position: absolute;
    top: 0px;
}
.mauvais {
    color: red !important;
}

/* MARGIN container responsive */

.marg-contain {
    padding-top: 140px;
}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* repsonsive */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ENTETE */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
@media (min-width: 1200px) {
    .navigation_entete li a, .filtre_sencondaire li a, .lien-select-form {
        font-size: 1.6em;
    }
    .navigation_entete li a:hover, .filtre_sencondaire li a:not(.lien-navigation-entente):hover, .navigation_entete li a:focus, .filtre_sencondaire li a:not(.lien-navigation-entente):focus, .navigation_entete li a:active, .filtre_sencondaire li a:not(.lien-navigation-entente):active, .lien-select-form_click {
        font-size: 1.8em !important;
    }
    .marg-contain {
        padding-top: 220px !important;
    }
    .today-logo {
        font-size: 2.8em !important;
    }
}

@media (min-width: 760px) and (max-width: 1200px) {
    .navigation_entete li a, .filtre_sencondaire li a, .lien-select-form {
        font-size: 1.3em;
    }
    .navigation_entete li a:hover, .filtre_sencondaire li a:not(.lien-navigation-entente):hover, .navigation_entete li a:focus, .filtre_sencondaire li a:not(.lien-navigation-entente):focus, .navigation_entete li a:active, .filtre_sencondaire li a:not(.lien-navigation-entente):active, .lien-select-form_click {
        font-size: 1.5em !important;
    }
    .marg-contain {
        padding-top: 200px !important;
    }
    .today-logo {
        font-size: 2.4em !important;
    }
}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */

/* STATE */
.rotation-lien{
    -ms-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform : rotate(180deg);
}

