/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
    /* BASE */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
html{min-height: 100vh;}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
#loader{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    transform: scale(1);
}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
body:not(.locked), body:not(.locked-error){
    min-height: 100vh;
    font-family: helvetica, arial;
    background: white !important;
}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
@media (max-width: 760px) {
    body:not(.locked), body:not(.locked-error){
    background-position: center center !important;
    }
}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
fieldset {margin-top: 10px;}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
    /* MODULE */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
.header-nav {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: transparent;
    min-width: 100%;
}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
.navigation_entete {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
.navigation_entete li {list-style: none;}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
.logo{max-width: 150px;}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
.today-logo {
    max-width: 100%;
    font-family: helvetica, arial;
    line-height: 0.88em;
    font-weight: 800;
    font-size: 2em;
    color: black;
    /* background: url('../img/gif/h1_logo_gif.gif') 0px 0px no-repeat;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    text-shadow: 0.04em -0.06em #dbdbdb;;
    overflow: hidden;
}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
.filtre_sencondaire {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px 0px 6px 0px;
}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
.filtre_sencondaire li {list-style: none;}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
.lien-navigation-entente{
    transition: all .5s ease-in-out;
    position: absolute;
    color: white;
    /* mise en place ici pour amelierer la transition */
    background: url('../img/gif/link_form_gif.gif') 0px 0px;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
.navigation_entete li a, .filtre_sencondaire li a:not(.lien-navigation-entente){
    transition: all .25s cubic-bezier(.47, 0, .74, .71);
    color: white;
    font-family: helvetica, arial;
    font-weight: 600;
    /* mise en place ici pour amelierer la transition */
    background: url('../img/gif/link_form_gif.gif') 0px 0px;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;  
}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
.navigation_entete li a:hover, .filtre_sencondaire li a:not(.lien-navigation-entente):hover, .navigation_entete li a:focus, .filtre_sencondaire li a:not(.lien-navigation-entente):focus, .navigation_entete li a:active, .filtre_sencondaire li a:not(.lien-navigation-entente):active {
    font-size: 1.2em;
    padding: 10px;
    font-weight: 700;
    background: url('../img/gif/link_form_gif.gif') 0px 0px;
    background-size: cover;
    /* border-bottom: 3px solid #1771c04a; */
    background-clip: text;
    -webkit-background-clip: text;
    border-bottom: 3px solid #07539585;
    color: transparent;
}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
.no_tache{
    max-width: 100%;
    height: auto;
    box-shadow: .09em .09em .9em #ffffffde;
    border-radius: 2%;
}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
.box {
    border-radius: 10px;
    color: white;
    border: 2px solid white;
    background-color: black;
    box-shadow: inset 0px -13px 16px 10px rgba(255, 255, 255, 0.16);
}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
.box-lien a {color: white;}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
.nom-contenant {
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding-top: 6px;
    color: white;
}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
.icone-box {text-align: start;padding-top: 5px;}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
.icone{max-width: 40px;height: auto;padding-right: 10px;}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
.icone-edit{max-width: 30px;height: auto;padding-top: 15px;padding-bottom: 15px;}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
.lien_jquery-nom, .lien_del, .lien-edit {font-size: 1.8em;}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
.lien_jquery-nom, .lien_del{transition: all .5s ease-in-out;position: absolute;top: 0px;}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
.mauvais {color: red !important;}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
.marg-contain {padding-top: 140px;}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* repsonsive */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ENTETE */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
@media (min-width: 1200px) {
    .navigation_entete li a, .filtre_sencondaire li a, .lien-select-form {
        font-size: 1.6em;
    }
    .navigation_entete li a:hover, .filtre_sencondaire li a:not(.lien-navigation-entente):hover, .navigation_entete li a:focus, .filtre_sencondaire li a:not(.lien-navigation-entente):focus, .navigation_entete li a:active, .filtre_sencondaire li a:not(.lien-navigation-entente):active, .lien-select-form_click {
        font-size: 1.8em !important;
    }
    .marg-contain {
        padding-top: 220px !important;
    }
    .today-logo {
        font-size: 2.8em !important;
    }
    #loader{
        transform: scale(2);
    }
}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
@media (min-width: 760px) and (max-width: 1200px) {
    .navigation_entete li a, .filtre_sencondaire li a, .lien-select-form {
        font-size: 1.3em;
    }
    .navigation_entete li a:hover, .filtre_sencondaire li a:not(.lien-navigation-entente):hover, .navigation_entete li a:focus, .filtre_sencondaire li a:not(.lien-navigation-entente):focus, .navigation_entete li a:active, .filtre_sencondaire li a:not(.lien-navigation-entente):active, .lien-select-form_click {
        font-size: 1.5em !important;
    }
    .marg-contain {
        padding-top: 200px !important;
    }
    .today-logo {
        font-size: 2.4em !important;
    }
    #loader{
        transform: scale(2);
    }
}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
@media (max-width: 575px) {
    .col-xs-nav {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .margin-nav-res{
        margin-top: 0.333rem !important;
        margin-bottom: 0.333rem !important;
    }
}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* STATE */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
.rotation-lien{-ms-transform:rotate(180deg);-webkit-transform:rotate(180deg);transform : rotate(180deg);}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
.locked-error{font-family: helvetica, arial;background: url('https://media.giphy.com/media/EJcfkkBX6Eorm/source.gif') !important;background-size: cover;}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* FIN */
